<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\TuyenSinh\2017\Web\WebXetTuyen15h05.07.2017.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>xettuyen.hpu.edu.vn</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="XetTuyenConStr" Order="1" Enabled="False">
          <Destination Path="Data Source=10.1.0.234;Initial Catalog=TuyenSinh2017;Persist Security Info=True;User ID=tuyensinh;Password=tuyensinh123654;Connect Timeout=120" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.1.0.234;Initial Catalog=TuyenSinh2017;Persist Security Info=True;User ID=tuyensinh;Password=tuyensinh123654;Connect Timeout=120" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\XetTuyenConStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.1.0.234;Initial Catalog=TuyenSinh2017;Persist Security Info=True;User ID=tuyensinh;Password=tuyensinh123654;Connect Timeout=120" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>CreateSeparateAssembly</WDPMergeOption>
    <UseFixedNames>True</UseFixedNames>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)XetTuyenConStr-Web.config Connection String">
      <ParameterValue>Data Source=10.1.0.234;Initial Catalog=TuyenSinh2017;Persist Security Info=True;User ID=tuyensinh;Password=tuyensinh123654;Connect Timeout=120</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>