@charset "utf-8";
@import "modules.css";
@font-face {
	font-family: 'UTM Alter Gothic';
	src: url('font/UTM%20Alter%20Gothic.ttf');
	
}

@font-face {
	font-family: 'UTM Aquarelle';
	src: url('font/UTM%20Aquarelle.ttf');
	
}
@font-face {
	font-family: 'MyriadPro-Bold';
	
	src: url('font/MyriadPro-Bold.otf');
	
}
@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('font/MyriadPro-BoldCond.otf');
	
}
@font-face {
	font-family: 'MyriadPro-BoldCondIt';
	src: url('font/MyriadPro-BoldCondIt.otf');
	
}
@font-face {
	font-family: 'MyriadPro-BoldIt.otf';
	src: url('font/MyriadPro-BoldIt.otf.otf');
	
}
@font-face {
	font-family: 'MyriadPro-It';
	src: url('font/MyriadPro-It.otf');
	
}
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('font/MyriadPro-Regular.otf');
	
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('font/MyriadPro-Semibold.otf');
	
}

@font-face {
	font-family: 'MyriadPro-SemiboldIt';
	src: url('font/MyriadPro-SemiboldIt.otf');
	
}




/* Table Of Contents
----------------------------------------

# General Elements
# body
# layout
# header
# gNav
# pageBody
# content
# sidebar
# footer
# clearfix
# common classes

----------------------------------------*/




/* # General Elements
---------------------------------------------------------------------------- */




a    { color: black; text-decoration: none; outline: none; }
a:hover   { color: #FF6600; }

p.custom_font{
	font-family: "UTM Alter Gothic"; /* no .ttf */
}
/* # body
---------------------------------------------------------------------------- */

body {
	color: #000;
	font-size: 75%;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	line-height: 1.5;
	margin:0;
	padding:0;
	height:100%;

	
}


/* # layout
---------------------------------------------------------------------------- */

div#wrapper 
{
	
	min-height:100%;
	margin:0;
	padding:0;
	position:relative;
    background:#055e7f;
	padding-bottom:89px;
    }

div#layout {
	margin: 0 auto;
	width:1000px;
	position:relative;
	padding:0 0 0 0;
	padding-top:5px;
	min-height:100%
	/*background:aqua; */
}

div#center{
	background:#e4f2fc;
	width:1000px;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	border-radius:10px;
	min-height:100%;
}


div#content {
background:#ffffff;
width:970px;
margin:0px 15px 0 15px;
padding:10px 0 0 0;
min-height:580px;
vertical-align:top;

}

div#linebgheader {
clear:both;
background:url('../images/bglineheader.png')  repeat-x ;
width:730px;
height:15px;
margin: 0;
padding:0;


}
div#linetite {
clear:both;
width:730px;
height:35px;
margin: 0;
padding:0;
background-color:#468f42;
text-align:center;
line-height:35px;
color:#FFFFFF;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:18px;
}

div#bglinetite {
clear:both;
width:730px;
height:15px;
margin: 0;
padding:0;
background:url('../images/linetite.png');
}

div#TuyenSinh
{
font-family: "UTM Alter Gothic"; /* no .ttf */
clear:both;
width:470px;
min-height:100%;
margin: 0;
padding:0;
margin-left:130px;
margin-top:15px;
background:#FFFFFF;
}
div#TuyenSinh p#TuyenSinh{
width:470px;
height:25px;
background:#fdeb00;
line-height:25px;
text-align:center;
font-family: "UTM Alter Gothic"; /* no .ttf */
color:#6d674a;
font-size:17px;
}

div#TuyenSinh p#Dot{
width:412px;	
padding-left:58px;
padding-top:10px;
background:#ffffff;
font-family: "UTM Alter Gothic"; /* no .ttf */
color:#8a8989;
font-weight:normal;
font-size:16px;
}
div#TuyenSinh ul#Dot{
width:412px;	
padding-left:58px;
background:#ffffff;
font-family: "UTM Alter Gothic"; /* no .ttf */
color:#8a8989;
font-weight:normal;
font-size:14px;
display:list-item;
} 
div#TuyenSinh li#Dot{
list-style:disc;
}

/* # header
---------------------------------------------------------------------------- */
#header {
clear:both;
height:80px;
border-radius:10px;
background:#3d85b5;


}
#tableheader {
	height:80px;
	width:970px;
}

#tableheader tr td#col6 {
	width:75px;
	vertical-align:top;
	text-align:left;
    padding-top:10px;
	padding-left:80px;
    }
#tableheader tr td#col2 {
	width:450px;
	vertical-align:top;
    padding-top:5px;
    text-align:left;

}
#tableheader tr td#col3 {
	width:130px;
	vertical-align:top;
	   padding-top:25px;

}
#tableheader tr td#col4 {
     	vertical-align:top;
        padding-top:25px;	
		width:200px;
		padding-left:20px;
		
}

h1#h1namehome {
    font-family: "UTM Alter Gothic"; /* no .ttf */
    color:white;
    font-size:32px;
    line-height: 60px;
   
}

h1#h1name {
	font-family: "UTM Alter Gothic"; /* no .ttf */
    color:white;
    font-size:22px;
    line-height:28px;
}
span.spanlevel {
	color:#f9ed33;
}
a.alevel {
	color:#f9ed33;
}
.searchtxt {
	background:#ffffff;
	width:130px;
	height:20px;
	border:0;
	vertical-align:top;
	color:white; 
    padding:2px 5px ;
    border-radius:10px;
	font-size:13px;
	}
	 
   ul#ulshare
   {
   		display:list-item;
		list-style:none;
   	}    
	ul#ulshare li {
	list-style:none;
	width:200px;
}
ul#ulsharelink {
	display:block;
	list-style:none;
	width:200px;
	height:30px;
}
ul#ulsharelink li {
display:inline;
}
ul#ulsharelink li a {
	float:left;
	padding-left:6px;
}
a.iconface {
	background:url('../images/index/facebook_black.png') no-repeat;
	width:20px;
	height:20px;
	}
a.iconface:hover {
     background:url('../images/index/facebook.png') no-repeat;
}
a.icontiwter {
	background:url('../images/index/twitter_black.png') no-repeat;
	width:20px;
	height:20px;
}
a.icontiwter:hover {
     background:url('../images/index/twitter.png') no-repeat;
}

a.icongoogle{
	background:url('../images/index/google_black.png') no-repeat;
	width:20px;
	height:20px;
}
a.icongoogle:hover {
     background:url('../images/index/google.png') no-repeat;
}

a.iconfeed{
	background:url('../images/index/feed_black.png') no-repeat;
	width:20px;
	height:20px;
}
a.iconfeed:hover {
     background:url('../images/index/feed.png') no-repeat;
}
a.iconyoutobe{
	background:url('../images/index/youtube_black.png') no-repeat;
	width:20px;
	height:20px;
}
a.iconyoutobe:hover {
     background:url('../images/index/youtube.png') no-repeat;
}
a.sodoweb {
     font-family: "UTM Alter Gothic"; /* no .ttf */
    color:white;
    font-size:13px;
	font-weight:normal;
	padding-left:0px;
	padding-right:5px;
}
a.sodoweb:hover {

    
}

a.iconyenglish{
	background:url('../images/index/flagenglish.gif') no-repeat;
	width:19px;
	height:15px;
}
a.iconyenglish:hover {
     background:url('../images/index/flagenglish.gif') no-repeat;
}

a.iconyviet{
	background:url('../images/index/viet_nam.gif') no-repeat;
	width:22px;
	height:15px;
}
a.iconyviet:hover {
     background:url('../images/index/viet_nam.gif') no-repeat;
}
/*---begin divnavi ---*/
div#divnavi {
	margin-top:5px;
	background-color:#16456f;
	clear:both;
	height:30px;
}
    
/* # gNav
---------------------------------------------------------------------------- */
ul#ulnavi {
	display:block;
	list-style:none;
	padding-left:5px;
	
}

ul#ulnavi li
{
	display:inline;
	height:30px;
	line-height:30px;
	
	
}
ul#ulnavi li a{
	float:left;
	color:white;font-size:16px;font-family: "UTM Alter Gothic"; /* no .ttf */
	/**-- border-left: 2px solid #3b6b91; ---*/
	padding:0px 40px 0px 40px;
}
ul#ulnavi li a.aend 
{
    border-right: 2px solid #3b6b91;
}
ul#ulnavi li a.afist 
{
    padding:0px 30px 0px 140px;
}

ul#ulnavi li a:hover {

	text-decoration:underline;
}


a.amemnuactive {
	text-decoration:underline;

}

/*--- begin divcontentheadr ---*/
div#contentheader {
	clear:both;
}


---------------------------------------------------------------------------- */

div#contentbody{
		clear: both;
		background:#ffffff;
		height:100%;
      
}

div#contentbody table#tablecontentbody
{
width:100%;
}

div#contentbody table#tablecontentbody tr td
{
vertical-align:top;
}


div#thongtinve {
	width:184px;
}
div#thongtinve a {
	font-family: "UTM Alter Gothic"; /* no .ttf */
    font-size:20px;
      color:white;
}
div#thongtinve a:hover {
	text-decoration:underline;
}
div#thongtinve p {
	margin-bottom:4px;
}
p.ptextheader {
	background:url('../images/index/img_line.jpg') no-repeat;
	background-position:left bottom;
        font-family: "UTM Alter Gothic"; /* no .ttf */
        font-size:19px;
	color:#f15a29;
	padding-bottom:3px;

}

.imgTHPT {
	margin:0;
	padding:0;
	margin-left:130px;
	margin-top:-2px;
        width: 177px;
        height: 64px;
}


.imgDH {
	margin:0;
	padding:0;
	margin-left:35px;
	margin-top:-2px;
        width: 179px;
        height: 64px;
}
.imgCapNhat {
	margin:0;
	padding:0;
	margin-left:35px;
	margin-top:-2px;
	width: 42px;
	height:64px;
}







/* # contentbotton
---------------------------------------------------------------------------- */
#logobotton {
	background:url('../images/bottonlogo.png');
	width:1000px;
	position:absolute;
	bottom:-30px;
	left:2px;
	height:154px;
	margin: 0 auto;
	z-index:2;
     clear: both;

}
#contentbotton {
	background:#055e7f;
	width:100%;
	position:absolute;
	bottom:-46px;
	left:0;
	padding:0;
	margin:0;
    clear: both;

}
#tablefooter {
	clear:both;
     margin: 0 auto;
	width: 730px;
	padding:0;
 

}

#tablefooter tr td#co1f {
	width:60%;
	
}
#tablefooter tr td#col2f {
	text-align:right;
	padding-right:12px;	
}
p.diachi {
		color:white;font-size:11px;font-family:Arial; /* no .ttf */
		margin:10px 0px 5px 0px;
              
}

p.sologon {
	color:white;font-size:16px;font-family: "UTM Aquarelle"; /* no .ttf */

}



/* # cac buoc
---------------------------------------------------------------------------- */

div#cacbuoc {
clear:both;
width:655px;
height:35px;
margin:0 15px 0 15px;
padding:0 0 0 45px;
background-color:#008e9a;
text-align:left;
line-height:35px;
color:#FFFFFF;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:18px;
z-index:10;
	
}
div#cacbuocnoidung{
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
position:relative;
float:left;
width:696px;
margin:0 15px 0 15px;
padding:0 ;
background-color:#FFFFFF;
text-align:left;
color:#949495;
border:#f7f7f6;
border:solid;
border-width:2px;
border-top:none;
border-bottom-left-radius: 10px;
border-bottom-right-radius:10px; 
z-index:10px;
}

ul#ma{
display:list-item;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
position:relative;
text-align:right;
float:right;
width:690px;
padding:5px 6px 0 0;
margin:0;
color:#949495;
}
div#cacbuocnoidung li#ma{
list-style:none;
}

p#titebuoc
{
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:18px;
color:#007883;
text-align:center;
}
div#setp
{
z-index:10;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
clear:both;
position:relative;
float:left;
width:696px;
padding:5px 75px 0 75px;
margin:0;
}


ul#stepnum {
display:block;
list-style:none;

}

ul#stepnum li {

list-style:none;
}
ul#stepnum li a {
	float:left;
	
}

a.stepnumchoice {
	background:url('../images/stepbgn.png') no-repeat;
	width:38px;
	height:35px;
	color:#6a6a6b;
	font-size:14px;
	text-align:center;
	line-height:38px;
}

a.stepnumchoice:hover {
     background:url('../images/stepbg.png') no-repeat;
	 color:#FFFFFF;
}
 a.stepnumchoice:active {
	text-decoration:none;
	background:url('../images/stepbg.png');
	color:#FFFFFF;
}

 a.stepnumchoiceac {
	text-decoration:none;
	background:url('../images/stepbg.png');
	color:#FFFFFF;
	width:38px;
	height:35px;
	font-size:14px;
	line-height:38px;
	text-align:center;
}
div#num{
position:relative;
float:left;
width:38px;
height:35px;
}
div#numfist{
position:relative;
float:left;
width:38px;
height:35px;
margin-left:15px;
}

div#line{
	background:url('../images/linestep.png') repeat-x;
	line-height:5px;
	position:relative;
	float:left;	
	height:5px;
	width:190px;
	margin-top:15px;
	
}
ul#setptext
{
position:relative;
clear:both;
float:left;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:13px;
display:block;
list-style:none;
width:100%;
padding:5px 0 0 0px;
margin:0;
z-index:10px;
}
ul#setptext li{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
display:inline;
height:30px;
line-height:30px;
padding:0;
padding-left:125px;
z-index:10px;
}
ul#setptext li.fist{

color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
display:inline;
height:30px;
line-height:30px;
padding:0;
padding-left:65px;
z-index:10px;
}
ul#setptext li.end{
z-index:10px;
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
display:inline;
height:30px;
line-height:30px;
padding:0;
padding-left:115px;

}
ul#setptext li a{
color:#606162;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
z-index:10px;
}
ul#setptext li a.ac	{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
z-index:10px;
}

/* # Nhap chung minh thu xac nhan
---------------------------------------------------------------------------- */
div#SoCMTNDTile {
clear:both;
width:410px;
height:35px;
margin:10px 0 0 150px;
text-align:left;
background-color:#008e9a;
line-height:35px;
color:#FFFFFF;
padding:0 0 0  20px;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:18px;
z-index:10;
}
div#SoCMTND{
clear:both;
min-height:110px;
width:428px;
margin:0 0 0 150px;
text-align:left;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
z-index:10;
border:#e9e9e8;
border:solid;
border-width:1px;
border-top:none;
border-bottom-left-radius: 5px;
border-bottom-right-radius:5px;
position:relative;
float:left;
z-index:10;
}
.SoCMTNDtxt {

	background:#c4c4c4;
	width:340px;
	height:30px;
	border:0;
	vertical-align:top;
	color:white; 
	margin:20px 0 0 44px;
    border-radius:5px;
	color:#010000;
	font-family: "UTM Alter Gothic"; /* no .ttf */
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	letter-spacing:2px;
 }
	 
.SoCMTNDBotton {

	background:#f04c23;
	width:98px;
	height:30px;
	border:0;
	vertical-align:top;
	color:white; 
	margin:15px 0 0 162px;
    border-radius:5px;
	color:#FFFFFF;
	font-family: "UTM Alter Gothic"; /* no .ttf */
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	z-index:10;	
	cursor:hand;
	cursor: pointer;
 } 
 p#SoCMTNDThongBao
 {
 	font-family: "UTM Alter Gothic"; /* no .ttf */
	font-size:15px;
	text-align:center;
	vertical-align:middle;
	color:#008e9a;
	padding:10px 0 0 0;
 }
  p#SoCMTNDThongBaonodung{
  font-family: "UTM Alter Gothic"; /* no .ttf */
	font-size:15px;
	text-align:center;
	vertical-align:middle;
	color:#969190;
	padding:0;
	z-index:10;
  }
  .SoCMTNDErrorBotton {
	background:#f04c23;
	width:98px;
	height:30px;
	border:0;
	vertical-align:top;
	color:white; 
	margin:0px 0 0 290px;
    border-radius:5px;
	color:#FFFFFF;
	font-family: "UTM Alter Gothic"; /* no .ttf */
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	z-index:10;	
	cursor:pointer;
	cursor:hand;
 } 
 
 /* # Ho so xet tuyen
---------------------------------------------------------------------------- */
div#centerHoSo{
	background:#ffffff;
	width:1000px;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	border-radius:10px;
	min-height:100%;
	
}
div#contentHoSo {
position:relative;
float:left;
background:#e4f2fc;
width:970px;
margin:10px 0 0 0;
padding:0 0 0 0;
min-height:468px;
vertical-align:top;
border-top-left-radius: 5px;
border-top-right-radius:5px;
}
div#HoSoTile
{
z-index:10;
width:675px;
height:55px;
background:#f04c23;
margin:15px 0 0 125px;
padding:0;
color:#ffffff;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:32px;
text-align:center;
vertical-align:middle;
line-height:55px;
}
div#HoSoHinhThuc
{
position:absolute;
top:10px;
right:-15px;
z-index:10;
width:187px;
height:65px;
background:#70bf45;
margin:0;
padding:0;
color:#ffffff;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:16px;
text-align:center;
vertical-align:middle;

}


div#setpHS
{
z-index:10;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
clear:both;
position:relative;
float:left;
width:506px;
padding:10px 0 0 230px;
margin:0;
}


ul#stepnumHS {
display:block;
list-style:none;

}

ul#stepnumHS li {

list-style:none;
}
ul#stepnumHS li a {
	float:left;
	
}

a.stepnumchoiceHS {
	background:url('../images/stepbgn.png') no-repeat;
	width:25px;
	height:25px;
	color:#6a6a6b;
	font-size:14px;
	text-align:center;
	line-height:25px;
}

a.stepnumchoiceHS:hover {
     background:url('../images/stepbg.png') no-repeat;
	 color:#FFFFFF;
}
 a.stepnumchoiceHS:active {
	text-decoration:none;
	background:url('../images/stepbg.png');
	color:#FFFFFF;
}

 a.stepnumchoiceHSac {
	text-decoration:none;
	background:url('../images/stepbg.png');
	color:#FFFFFF;
	width:25px;
	height:25px;
	font-size:14px;
	line-height:25px;
	text-align:center;
}
div#numHS{
position:relative;
float:left;
width:25px;
height:25px;
}
div#numHSfist{
position:relative;
float:left;
width:25px;
height:25px;
margin-left:15px;
}

div#lineHS{
	background:url('../images/linestep.png') repeat-x;
	line-height:5px;
	position:relative;
	float:left;	
	height:5px;
	width:130px;
	margin-top:10px;
	
}
div#lineHSac{
	background:url('../images/bglineHS.png') repeat-x;
	line-height:5px;
	position:relative;
	float:left;	
	height:5px;
	width:130px;
	margin-top:10px;
	
}
ul#setpHStext
{
position:relative;
clear:both;
float:left;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
display:inline;
list-style:none;
width:560px;
padding:5px 0 0 215px;
margin:0;
z-index:10px;
}
ul#setpHStext li{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
display:inline;
height:30px;
line-height:30px;
padding:0;
z-index:10px;
padding:0 ;
padding-left:65px;
padding-right:60px;
}
ul#setpHStext li.fistHS{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
display:inline;
height:25px;
line-height:25px;
padding:0;
z-index:10px;
}
ul#setpHStext li.endHS{
z-index:10px;
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
display:inline;
height:25px;
line-height:25px;
padding:0;

}
ul#setpHStext li a{
color:#606162;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
z-index:10px;
}
ul#setpHStext li a:hover{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
z-index:10px;
}
ul#setpHStext li a.acHS	{
color:#016739;
font-family: "UTM Alter Gothic"; /* no .ttf */
font-size:14px;
z-index:10px;
}
div#ThongTinHS
{
background:#e4f2fc;
position:relative;
float:left;
clear:both;
width:660;
position:relative;
float:left;
padding:0px;
margin:20px 35px;
}
.group { display: table; width:100%; z-index:10; position:relative; float:left; clear:both; }
.item { display: table-cell; }
.textline {
white-space: nowrap; width: 1%; padding: 0 5px;
color:#f04c23;
font-family: "MyriadPro-Regular"; /* no .ttf */
font-size:16px;
font-weight:900;
 }
 .textlineNganh {
white-space: nowrap; width: 1%; padding: 0 5px;
color:#1b7b3d; 
font-family: "MyriadPro-Regular";
font-size:16px;
font-weight:900;
 }
.line1 { border-bottom: 3px solid #c1c7cb; position: relative; top: -0.5em;  width:50px;}
.line { border-bottom: 3px solid #c1c7cb; position: relative; top: -0.5em;  width:500px;}
div#ThongTinHSContent{
	width:650;
	background:#e4f2fc;
	position:relative;
	float:left;
	clear:both;
	color:#000000;
	font-family:"MyriadPro-Regular"; /* no .ttf */
	font-size:12px;
	padding:5px 5px;
	font-weight:bold;
	margin:0;

}
div#HoSoCenter{
width:650px;
clear:both;
position:relative;
float:left;
z-index:10;
padding:0 0 5px 0;
}
.Thongtintxt {
	width:20px;
	height:15px;
	vertical-align:middle;
	color:#000000; 
	text-align:center;
	font-size:12px;
	border:1px solid #c1c7cb;
	font-family: "MyriadPro-Semibold"; /* no .ttf */
	padding:0;
	margin:0;
     }
 #tabbleNoidung
 {
	width:620px;
	border:0;
	text-align:left;
	vertical-align:middle;
	margin-bottom:5px;
 }
#tabbleNoidung tr td#col11 {
	width:210px;
	vertical-align:middle;
	text-align:left;
	
	
}
.error
{
	color:Red;
	text-align:center;
	padding:5px 5px;
	margin:10px 0 0 40px;
	font-size:12px;
	border:1px solid #c1c7cb;
	width:545px;
	font-family: "MyriadPro-Semibold"; /* no .ttf */
}
#tabbleNoidung tr td#col12 {
	vertical-align:middle;
	width:90px;
	text-align:left;
	padding-left:0;
	
}

.des{
	
	vertical-align:text-top;
	text-align:center;
	color:#5f6060;
}
#tabbleNoidung1 tr td#col21
 {
	 width:220px;
	border:0;
	text-align:center;
	vertical-align:middle;
	
 }
 #tabbleNoidung1 
 {
	vertical-align:middle;
	text-align:left;
	width:650px;
	padding:0;
	margin:10px 0;
	
 }
td#matruong
   {
	width:66px;
	border:0;
	text-align:left;
	vertical-align:middle;
 }
 td#matinh
  {
	width:44px;
	border:0;
	text-align:center;
	vertical-align:middle;
 }
 #tabbleNoidung1 tr td#namhoc
 {
	width:80px;
	border:0;
	text-align:left;
	vertical-align:middle;
 }
 #tabbleNoidung1 tr td#namhoc1
 {
	width:75px;
	border:0;
	text-align:left;
	vertical-align:middle;
	padding-left:10px;
 }
 #tabbleNoidung2 
 {
	vertical-align:middle;
	text-align:left;
	width:620px;
	padding:0;
	margin-top:10px;
	margin-left:30px;
	
 }
 #tabbleNoidung2 tr td#col21{
vertical-align:middle;
text-align:left;
padding:0;
 }
 .BottonTiep
 {
	border-size: 0px;
	border-style: none;
	float:none;
	position:relative;
	color: blue;
	cursor:hand;
	cursor: pointer;
	background:#f04c23;
	padding:0px;
	text-align:center;
	vertical-align:middle;
	height:30px;
	width:120px;
	border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;
	z-index:10;
 }
 div#bottonTiep
 {
 	width:970px;
	 text-align:center;
	 height:30px;
	 margin:5px 0 60px 0;
	 
 }
 #tabbbleDiem
 {
 	z-index:10;
	width:510px;
	border:0;
	text-align:center;
	font-size:12px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	margin:10px 0 0 90px;
 }
 #tabbbleDiem tr td#tieude
 {
 	font-size:18px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#5b5b5c;	
	text-align:left;
 }
 #tabbbleDiem tr td#diem
 {
	width:170px;
 	font-size:18px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#097338;
	font-weight:bold;	
	padding:10px 0;
	text-align:left;
 }
 #tabbbleDiem tr.Mon
 {
 	font-size:18px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#0d783d;	
	text-align:center;
	font-weight:900;
	padding:0;
	margin:0;
 }
 #tabbbleDiem tr td.Lop
 {
 	
	font-family: "MyriadPro-Regular"; /* no .ttf */
	text-align:center;
	font-weight:900;
	padding:0;
	margin:0;
 }
 .Diemtxt {
	width:30px;
	height:15px;
	vertical-align:middle;
	color:#000000; 
	text-align:center;
	font-size:13px;
	border:1px solid #c1c7cb;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	font-weight:800;
     }
div#mapop
{
	width:630px;
	height:25px;
	position:relative;
	clear:both;
	float:left;
	text-align:center;
	vertical-align:middle;
 	font-size:18px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#097338;
	padding:0;
	margin:20px 15px;
	text-align:left;
	line-height:25px;
	z-index:10;
}
div#mapop .mapop
{
	
	height:25px;
	width:150px;
	vertical-align:middle;
	color:#FFFFFF; 
	text-align:center;
	font-size:14px;
	border:1px solid #515151;
	background:#606061;
	font-family: "MyriadPro-Semibold"; /* no .ttf */
	z-index:10;
}
div#mapop .textmapop
{
	height:25px;
	width:150px;
	vertical-align:middle;
	color:#606061; 
	text-align:center;
	font-size:18px;
	line-height:25px;
	letter-spacing:5px;
	font-family: "MyriadPro-Semibold"; /* no .ttf */
}
div#NganhDaoTao
{
	width:970px;
	position:relative;
	float:left;
	clear:both;
	float:left;
	text-align:center;
	vertical-align:text-top;
 	font-size:18px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#097338;
	padding:0;
	margin:0;
	text-align:left;
	line-height:18px;
	border:none;
	z-index:10;
	padding-bottom:100px;
	
}
#tabbleNganhDaoTao
{
	width:970px;
	position:relative;
	float:left;
	clear:both;
	text-align:left;
	vertical-align:top;
 	font-size:8px;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#097338;
	padding:0;
	margin:0;
	line-height:17px;
	background:#e4f2fc;
	font-weight:800;
}

div#trfist-child { 
	background:url("../images/bgnganh.png") ;
	width:970px;
	height:110px;
	background-size:970px 110px;
	background-repeat:no-repeat;
	 text-align:center;
	 vertical-align:top;
	 position:relative;
	 float:left;
	 clear:both;

}
div#trlast-child { 
	width:964px;
	 text-align:left;
	 vertical-align:top;
	 position:relative;
	 float:left;
	 clear:both;
	 border:3px solid #1b7b3d;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	 font-size:10px;
	border-top:none;
}
div#trcenter-child { 
	width:964px;
	 text-align:center;
	 vertical-align:top;
	 position:relative;
	 float:left;
	 clear:both;
	 font-size:10.5px;
	border:3px solid #1b7b3d;
	border-top:none;
	border-bottom:none;
}
div#tr-child { 
	width:970px;
	 text-align:left;
	 vertical-align:top;
	 position:relative;
	 float:left;
	 clear:both;
	 line-height:45px;
	 font-weight:bold;
	font-size:18px;
	padding-left:10px;
}
div#child { 
	
		width:135px;	
		position:relative;
		float:left;
	
}
div#child1 { 
	
		width:135px;	
		text-align:left;
		vertical-align:text-top;
		position:relative;
		float:left;
	
}
div#fist-child { 
	
	width:145px;	
	text-align:center;
 	position:relative;
	float:left;
}
div#fist-child1 { 
	
	width:145px;	
	text-align:left;
	vertical-align:text-top;
 	position:relative;
	float:left;
}
#tabbleNganhDaoTao .img
{
	width:125px;
	height:110px;
	border:0;
	
}
.img
{
	width:85px;
	height:75px;
	border:0;
	cursor:pointer;
	cursor:hand;
	
}
div.Nganh{
	width:910px;
	background:#e4f2fc;
	position:relative;
	float:left;
	min-height:75px;
	height:100%;
	height:auto;
	clear:both;
	color:#ffffff;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	font-size:13px;
	padding:5px;
	margin:0 30px;
	

}
.Nganhlefft
{
	position:relative;
	float:left;
	width:85px;
	min-height:75px;
	height:100%;
	height:auto;
	margin:0;
	padding:0;
	vertical-align:middle;
	text-align:left;
	font-size:18px;
	border-radius:5px;
	background:#1b7b3d;
	
}

.NganhCenter
{
	width:820px;
	min-height:75px;
	height:100%;
	background:#e4f2fc;
	position:relative;
	vertical-align:middle;
	text-align:center;
	float:left;
	color:#ffffff;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	font-size:18px;
	font-weight:900;
	padding:0;
	margin-left:5px;
	z-index:10;
	/*border:1px solid #1b7b3d;*/
	border:0;
}	
.NganhCenterLeft{
	position:relative;
	background:#1b7b3d;
	float:left;
	width:705px;
	height:75px;
	border:0;
	margin:0;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#FFFFFF;
	text-align:left;
	padding-left:115px;
	vertical-align:middle;
	line-height:75px;
	cursor:hand;
	cursor:pointer;
	
}
.NganhCenterRight{
	position:relative;
	background:#1b7b3d;
	float:left;
	width:225px;
	height:75px;
	border:0;
	margin:0;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	color:#e4f2fc;
	text-align:center;
	line-height:30px;
	display:inline-block;
	display:none;
}
.cblKhoi
{
	display:inline-block;
	 list-style:none;
      width:220px;     
}
.cblNganh
{
	display:inline-block;
	 list-style:none;
      width:705px;   
      text-align:left;
      font-size:20px;
      line-height:30px;
      padding:0;
}
div.divider {
position:relative;
float:left;
 width:2px;
 background:#e4f2fc;
 height:65px;
 margin:5px 0;
 }
.NganhCenterBotton
{
	width:705px;
	min-height:78px;
	clear:both;
	background:#57b947;
	position:relative;
	vertical-align:middle;
	text-align:center;
	float:left;
	color:#ffffff;
	font-family: "MyriadPro-Regular"; /* no .ttf */
	font-size:18px;
	font-weight:900;
	padding:20px 0 0 115px;
	margin:0;
	z-index:10;
	display:none;
	/*border:1px solid #1b7b3d;*/
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top:2px solid #fffc00;
	/* webkit's individual border radius properties */
	
/*-webkit-border-top-left-radius:0px; /* top left corner */
/*-webkit-border-top-right-radius:10px; /* top right corner */
-webkit-border-bottom-left-radius:5px; /* bottom left corner */
-webkit-border-bottom-right-radius:5px; /* bottom right corner */
}
div#img
{
	position:relative;
	float:left;
	width:30px;
	height:30px;
	border:0;
	margin:15px 10px 0 0;
}


